/* NavBar */

.navbar-inverse {
background-color: #FFF;
border-color: #FFFFFF;
font-family: 'HelveticaNeue-Light'; 
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #a3a4a4;
background-color: transparent;
}

.navbar-inverse .navbar-collapse .navbar-nav .active a
{
	background-color: transparent;
	color: #a3a4a4;
}

.navbar-inverse .navbar-nav li a
{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-inverse .navbar-nav .navbar-brand
{
	margin-left: 20px;
	margin-right: 20px;
}

.navbar-inverse .navbar-nav
{
	margin-left: 165.5px;
}

.navbar-inverse .navbar-nav img
{
	width: 180px;
}

.navbar-brand
{
	padding: 0px;
}

/* carousel */

.containerCMain
{
	height: 600px;
}

.carousel {
  margin-bottom: 40px;
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}

.carousel-inner
{
	height: 100%;
}

.carousel-inner .item  img {
	margin: 0 auto;
  	width: auto;
}

.carousel-control
{
	width: 8%;
}

.carousel-caption
{
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-shadow: none;
	width: 50%;
	height: 50%;
}

.carousel-caption p
{
	font-family: 'HelveticaNeue-Light';
	font-size: 15px;
}

.carousel-control.right {
right: 0;
left: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;

}

.carousel-control.left {
left: 0;
right: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;
}

.first-divider
{
	margin: 100px;
}

/* Row one*/

/* carousel in row*/

.col-md-5
{
	height: 305px;
}

.row .carousel-inner {
	height: 305px;
}

.row .carousel-inner .item img
{
	height: auto;
}

.row .carousel-control
{
	height: 305px;
}

.btn:hover, .btn:focus 
{
	color: white;
	text-decoration: none;
	background-color: #464646;
	border-color: #464646;
	font-family: 'HelveticaNeue-Light'; 
}

.btn-lg
{
	background-color: white;
	border-color: black;
	border-radius: 2px;
	font-family: 'HelveticaNeue-Light'; 
}


.second-divider
{
	margin: 100px;
}


/* Row two*/



.col-md-4
{
	height: 305px;
}

.second-row .carousel-inner {
	height: 305px;
}

.second-row .carousel-inner .item
{
	background-color: transparent;
}

.second-row .carousel-inner .item img
{
	height: auto;
}

.second-row .carousel-control
{
	height: 240px;
}

.featurette-heading
{
	margin-top: 40px;
}


/* Footer */

#footer img
{
	width: 30px;

}

#footer p
{
	text-align: center;
	fon
}

#footer .navbar-nav
{
	margin-left: 344px;

}

#social
{
	word-spacing: 5px;
}