.main-header-area .nav-brand img {

	max-width: 75%;
}

.single-service-area {
    border: 0px solid #e5e5e5;
}

.single-contact-information i {
    color: #dc3545;
}

/*.single-welcome-slide .welcome-text p {
    color: #ffffff;
}

.single-welcome-slide .welcome-text h2 {
    color: #ffffff;
}*/