@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('Fonts/brandon_reg-webfont.eot');
    src: url('Fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('Fonts/brandon_reg-webfont.woff') format('woff'),
         url('Fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('font-style/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.breakflow
{
	clear: both;
}

body
{
	background-image: url("Images/dossier/b.png");
	background-position: center;
	background-size: 10%;

	margin: 0;

	font-family: helvetica, arial, sans-serif;
}

html, body 
{

	height: 100%;

}

.mainContainer
{
	width: 100%;
	
}

.topBarBackground
{
	color: white;
	background-color: #1C1C1C;
	width: 100%;
}

.topBar
{
	margin: 0 auto;
	width: 1000px;
}

.topBar img
{
	float: left;
}

.topBar .title
{
	float: left;	
	width: 55%;
}

.topBar .title p
{
	text-align: center;
	font-size: 25px;
	font-family: "brandon_grotesque_regularRg";
}

.topBar ul
{
	float: right;
}

.topBar li
{
	float: left;
	padding-left: 10px;
	list-style: none;
}

.topBar li img
{
	width: 30px;
} 

.middleContainer
{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;

	border-bottom: 1px dashed black;
}

.middleContainer img
{
	display: block;
	margin: 0 auto;
} 

.middleContainer h2
{
	font-family: "brandon_grotesque_regularRg";
}

.middleContainer p
{
	text-align: center;
	width: 190px;
	font-size: 14px;
}

.middleContainer li img
{
	width: 100px;
}

.middleContainer li
{
	list-style: none;
	float: left;
	padding-left: 50px;
	padding-top: 50px;
	text-align: center;
}


#firstList
{
	padding-left: 0px;
}


.description
{
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.description img
{
	display: block;
	margin: 0 auto;
}

.logoText img
{
	width: 200px;

	float: left;
	margin-left: 190px;
	margin-top: 100px;
}

.logoText p
{
	float: right;
	width: 350px;
	margin-top: 120px;
	margin-right: 100px;
	text-align: justify;
}

.logoText h3
{
	margin-left: 270px;
	margin-top: 0px;
}



.logoText.right img
{
	width: 200px;

	float: right;

	margin-right: 190px;
	margin-left: 0px;
	margin-top: 100px;
}

.logoText.right p
{
	float: left;
	margin-top: 120px;
	margin-left: 100px;
}

.logoText.right h3
{
	margin-right: 270px;
	margin-left: 0px;
	text-align: right;
	margin-top: 0px;
}

.finalDiv
{
	padding-top: 50px;
}

.finalDiv img
{
	display: block;
	margin: 0 auto;
	width: 500px;

}

footer
{
	margin: 0;
	font-size: 10px;
	text-align: center;
	font-family: "brandon_grotesque_regularRg";
	color: white;
	background-color: black;
	height: 50px;
}

footer p
{
	margin: 0;
	padding-top: 25px;
}






