	.barContainer
	{
		width: 100%;
		height: 40px;
		margin-bottom: 15px;
	}
	
	.topBar
	{
		margin: 0 auto;
		width:1000px;
		
	}

	.topBar ul
	{

		padding-left: 90px;
	}
	
	.topBar li
	{
		list-style: none;
		float: left;
		font-size: 15px;
		font-family: 'HelveticaNeue-Light';
		padding-right: 55px;
		margin-top: 10px;
	}
	
	.topBar img
	{
		width: 230px;
		float: left;
		padding-right: 55px;
	}
	
	.breakingFlow
	{
		float: none;
	}


	/*First Section*/

	#FashionContainer
	{
		width: 100%;
	}

	.sectionOneContainer
	{
		width: 1100px;
		margin: 0 auto;
	}


	.sectionOneContainer p
	{
		
		margin-left: 70px;
		font-size: 20px;
		font-family: 'EB Garamond', serif;
	}

	.sectionOneLeft
	{
		margin: 0 auto;
		width: 500px;
		float: left;

	}

	/*Carousel left First Section*/

	.containerFirstCarLeft
	{
		margin: 0;
		width: 500px;
		height: 300px;
		position: relative;
	}

	.containerFirstCarLeft .carousel
	{
		height: 100%;
	}

	.containerFirstCarLeft .carousel-inner
	{
		height: 100%;
		margin: 0 auto;
		width: 100%;
	}

	.containerFirstCarLeft .carousel-inner .item
	{
		height: 100%;
		background-color: transparent;

	}

	.containerFirstCarLeft .carousel-inner .item img
	{
		height: 80%;
	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption
	{
		position: relative;
		margin: 0px;
		padding: 0px;
		top: 10px;
		left: 70px;

	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption h1
	{
		font-size: 20px;
		margin: 0px;
		padding-bottom: 5px;
		text-align: left;
		color: gray;

	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption p
	{
		font-size: 10px;
		margin: 0px;
		padding-left: 2px;
		text-align: left;
		color: black;

	}



	.containerFirstCarLeft .carousel-control.left
	{
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.containerFirstCarLeft .carousel-control.right
	{
		position: absolute;
		right: 0px;
		top: 0px;
	}


	/*Carousel right First Section*/

	.containerFirstCarRight
	{
		margin: 0;
		width: 500px;
		height: 500px;
		position: relative;
	}

	.containerFirstCarRight .carousel
	{
		height: 100%;
	}

	.containerFirstCarRight .carousel-inner
	{
		height: 100%;
		margin: 0 auto;
		width: 350px;
	}

	.containerFirstCarRight .carousel-inner .item
	{
		height: 100%;
		background-color: transparent;

	}

	.containerFirstCarRight .carousel-inner .item .carousel-caption
	{
		position: relative;
		margin: 0px;
		padding: 0px;
		top: 10px;
		left: 40px;

	}

	.containerFirstCarRight .carousel-inner .item .carousel-caption h1
	{
		font-size: 20px;
		margin: 0px;
		padding-bottom: 5px;
		text-align: left;
		color: gray;

	}

	.containerFirstCarRight .carousel-inner .item .carousel-caption p
	{
		font-size: 10px;
		margin: 0px;
		padding-left: 2px;
		text-align: left;
		color: black;

	}

	.containerFirstCarRight .carousel-inner .item img
	{
		height: 80%;
	}

	.containerFirstCarRight .carousel-control.left
	{
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.containerFirstCarRight .carousel-control.right
	{
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.sectionOneRight
	{
		float: right;
	}

	.Description
	{
		width: 400px;
		float: left;
		margin-left: 140px;
	}

	.Description p
	{
		text-align: center;
		font-size: 30px;
		font-family: 'EB Garamond', serif;

	}

	.Description hr
	{
		border-top: 2px solid black;
	}


	/* Footer */

	.Footer
	{
		float: none;
	}
	


	/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.containerCMain
{
	height: 600px;
}

.carousel {
  margin-bottom: 40px;
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}

.carousel-inner
{
	height: 100%;
}

.carousel-inner .item  img {
	margin: 0 auto;
  	width: auto;
}

.carousel-control
{
	width: 8%;
}

.carousel-caption
{
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-shadow: none;
	width: 50%;
	height: 50%;
}

.carousel-captions
{	
	position: absolute;
	top: 220px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-shadow: none;
	width: 50%;
	height: 50%;
}

.carousel-caption p
{
	font-family: 'HelveticaNeue-Light';
	font-size: 15px;
}

.carousel-control.right {
right: 0;
left: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;

}

.carousel-control.left {
left: 0;
right: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;
}

#Arrow
{
	width:20px;
	padding-top: 200%;
}

/