	/*Common elements*/

	.sectionContainer
	{
		width: 100%;
		height: 850px;
	}

	.sectionTiltle
	{
		font-size: 40px;
		text-align: center;
		font-family: 'EB Garamond', serif;
		color: #8C7C3D;

		width: 100%;

		padding: 40px 0px 40px 0px;
	}

	.sectionTiltle p

	{
		border-top: 1px solid #acacac;
		border-bottom: 1px solid #acacac;
	}



	/*Main section*/

	.barContainer
	{
		width: 100%;
		height: 40px;
		margin-bottom: 15px;
	}
	
	.topBar
	{
		margin: 0 auto;
		width:1000px;
		
	}

	.topBar a
	{
		color: black;
	}

	.topBar a:hover
	{
		text-decoration: none;
		color: #cf9d18;

	}

	.topBar ul
	{

		padding-left: 90px;
	}
	
	.topBar li
	{
		list-style: none;
		float: left;
		font-size: 15px;
		font-family: 'HelveticaNeue-Light';
		padding-right: 55px;
		margin-top: 10px;
	}
	
	.topBar img
	{
		width: 230px;
		float: left;
		padding-right: 55px;
	}
	
	.breakingFlow
	{
		float: none;
	}


	/*First Section*/

	.Fashion
	{
		width: 1100px;
		margin: 0 auto;
	}


	

	/*Carousel Vertical left First Section*/

	.containerFirstCarVLeft
	{
		margin: 0;
		height: 700px;
		position: relative;
		float: left;
		margin-left: 50px;
	}

	.containerFirstCarVLeft .carousel
	{
		height: 100%;
	}

	.containerFirstCarVLeft .carousel-inner
	{
		height: 100%;
		margin: 0 auto;
		width: 550px;
	}

	.containerFirstCarVLeft .carousel-inner .item
	{
		height: 100%;
		background-color: transparent;

	}

	.containerFirstCarVLeft .carousel-inner .item .carousel-caption
	{
		position: relative;
		margin: 0px;
		padding: 0px;
		top: 10px;
		left: 40px;

	}

	.containerFirstCarVLeft .carousel-inner .item .carousel-caption h1
	{
		font-size: 20px;
		margin: 0px;
		padding-bottom: 5px;
		text-align: left;
		color: gray;

	}

	.containerFirstCarVLeft .carousel-inner .item .carousel-caption p
	{
		font-size: 10px;
		margin: 0px;
		padding-left: 2px;
		text-align: left;
		color: black;

	}

	.containerFirstCarVLeft .carousel-inner .item img
	{
		height: 100%;
	}

	.containerFirstCarVLeft .carousel-control.left
	{
		position: absolute;
		left: -10px;
		top: 0px;
	}

	.containerFirstCarVLeft .carousel-control.right
	{
		position: absolute;
		right: -10px;
		top: 0px;
	}

	#ArrowV
	{
		width:20px;
		padding-top: 350px;
	}

	#fashionButtom
	{
		color: black;
	}

	/*Description First Section*/


	.Description
	{
		width: 400px;
		float: left;
		margin-left: 70px;
		margin-top: 100px;
		position: relative;
	}

	.Description p
	{
		text-align: center;
		font-size: 30px;
		font-family: 'EB Garamond', serif;
		border:none;
		color: #777575;
		width: 250px;

	}

	.btn:hover, .btn:focus 
	{
		color: white;
		text-decoration: none;
		background-color: #787777;
		border-color: #787777;
		font-family: 'HelveticaNeue-Light';

	}

	.btn-lg
	{
		background-color: white;
		border-color: black;
		border-radius: 2px;
		font-family: 'HelveticaNeue-Light'; 
		font-size: 18px; 

		position: absolute;
		right: 50%;
		margin-top: 100px;
	}



	



	/*Carousel left First Section*/

	.containerFirstCarLeft
	{
		margin: 0;
		width: 500px;
		height: 300px;
		position: relative;
	}

	.containerFirstCarLeft .carousel
	{
		height: 100%;
	}

	.containerFirstCarLeft .carousel-inner
	{
		height: 100%;
		margin: 0 auto;
		width: 100%;
	}

	.containerFirstCarLeft .carousel-inner .item
	{
		height: 100%;
		background-color: transparent;

	}

	.containerFirstCarLeft .carousel-inner .item img
	{
		height: 80%;
	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption
	{
		position: relative;
		margin: 0px;
		padding: 0px;
		top: 10px;
		left: 70px;

	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption h1
	{
		font-size: 20px;
		margin: 0px;
		padding-bottom: 5px;
		text-align: left;
		color: gray;
		font-weight: 5px;

	}

	.containerFirstCarLeft .carousel-inner .item .carousel-caption p
	{
		font-size: 10px;
		margin: 0px;
		padding-left: 2px;
		text-align: left;
		color: black;

	}



	.containerFirstCarLeft .carousel-control.left
	{
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.containerFirstCarLeft .carousel-control.right
	{
		position: absolute;
		right: 0px;
		top: 0px;
	}


	

	
	/* Second Section */

	.sectionContainer.cCities
	{
		background-color: #F5F5F5;
		margin-top: 50px;
	}

	.Cities
	{
		width: 1000px;
		margin: 0 auto;
	}


	/* Footer */

	.Footer
	{
		float: none;
	}
	


	/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.containerCMain
{
	height: 600px;
}

.carousel {
  margin-bottom: 40px;
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}

.carousel-inner
{
	height: 100%;
}

.carousel-inner .item  img {
	margin: 0 auto;
}

.carousel-control
{
	width: 8%;
}

.carousel-caption
{
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-shadow: none;
	width: 50%;
	height: 50%;
}

.carousel-caption p
{
	font-family: 'HelveticaNeue-Light';
	font-size: 15px;
}

.carousel-control.right {
right: 0;
left: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;

}

.carousel-control.left {
left: 0;
right: auto;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
height: 100%;
}

#Arrow
{
	width:20px;
	padding-top: 200%;
}

/