.inputText
{
    border:none;
    border-bottom: 1px solid #dcdcdc ;
    font-family: "HelveticaNeue-Ultralight";
    font-size: 18px;
    line-height: 1.40;
    color: gray; 
    width: 70%;
    margin-bottom: 10px;
    background-color: transparent;
}

#inputText:focus
{
    outline: none;
}

.descrText
{
    font-family: "HelveticaNeue-Ultralight";
    font-size: 12px;
    line-height: 1.40;
    border:none;
    border-bottom: 1px solid #dcdcdc ;
    color: #cecece;
    width: 70%;
    background-color: transparent;
}

.descrText:focus
{
    outline: none;
}